In [1]:
import pandas as pd 
import os 

#global variable
path='../Data/'

<h1> Business Data </h1>

In [2]:
business_data=pd.read_csv(path+'business.csv')
print(business_data.head(5))

                          address  attributes attributes_AcceptsInsurance  \
0     2818 E Camino Acequia Drive         NaN                         NaN
1            30 Eglinton Avenue W         NaN                         NaN
2       10110 Johnston Rd, Ste 15         NaN                         NaN
3   15655 W Roosevelt St, Ste 237         NaN                         NaN
4  4209 Stuart Andrew Blvd, Ste F         NaN                         NaN

  attributes_AgesAllowed attributes_Alcohol  \
0                    NaN                NaN
1                    NaN        u'full_bar'
2                    NaN   u'beer_and_wine'
3                    NaN                NaN
4                    NaN                NaN

                                 attributes_Ambience attributes_BYOB  \
0                                                NaN             NaN
1  {'romantic': False, 'intimate': False, 'classy...             NaN
2  {'romantic': False, 'intimate': False, 'touris...             NaN
3                                                NaN             NaN
4                                                NaN             NaN

  attributes_BYOBCorkage attributes_BestNights attributes_BikeParking  ...  \
0                    NaN                   NaN                    NaN  ...
1                    NaN                   NaN                  False  ...
2                    NaN                   NaN                   True  ...
3                    NaN                   NaN                    NaN  ...
4                    NaN                   NaN                    NaN  ...

  hours_Tuesday hours_Wednesday is_open   latitude   longitude  \
0           NaN             NaN       0  33.522143 -112.018481
1       9:0-0:0         9:0-0:0       1  43.605499  -79.652289
2           NaN     17:30-21:30       1  35.092564  -80.859132
3      8:0-17:0        8:0-17:0       1  33.455613 -112.395596
4      7:0-23:0        7:0-23:0       1  35.190012  -80.887223

                              name postal_code review_count stars state
0       Arizona Biltmore Golf Club       85016            5   3.0    AZ
1       Emerald Chinese Restaurant     L5R 3E7          128   2.5    ON
2      Musashi Japanese Restaurant       28210          170   4.0    NC
3  Farmers Insurance - Paul Lorenz       85338            3   5.0    AZ
4              Queen City Plumbing       28217            4   4.0    NC

[5 rows x 60 columns]

/usr/local/Cellar/ipython/7.2.0/libexec/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (6,28,31) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<h1> User Data </h1>

In [3]:
user_data=pd.read_csv(path+'user.csv')

print(user_data.head(5))

/usr/local/Cellar/ipython/7.2.0/libexec/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

         yelping_since  useful  compliment_photos  compliment_list  \
0  2013-10-08 23:11:33      84                  0                0
1  2013-02-21 22:29:06      48                  0                0
2  2013-10-04 00:16:10      28                  0                0
3  2014-05-22 15:57:30      30                  0                0
4  2013-10-23 07:02:50    1114                  5                1

   compliment_funny  compliment_plain  review_count  \
0                 1                 1            95
1                 1                 0            33
2                 0                 0            16
3                 0                 2            17
4                80                57           361

                                             friends  fans  compliment_note  \
0  c78V-rj8NQcQjOI8KP3UEA, alRMgPcngYSCJ5naFRBz5g...     5                1
1  kEBTgDvFX754S68FllfCaA, aB2DynOxNOJK9st2ZeGTPg...     4                0
2  4N-HU_T32hLENLntsNKNBg, pSY2vwWLgWfGVAAiKQzMng...     0                1
3  RZ6wS38wnlXyj-OOdTzBxA, l5jxZh1KsgI8rMunm-GN6A...     5                0
4  mbwrZ-RS76V1HoJ0bF_Geg, g64lOV39xSLRZO0aQQ6DeQ...    39               16

   ...  compliment_cute  average_stars                 user_id  \
0  ...                0           4.03  l6BmjZMeQD3rDxWUbiAiow
1  ...                0           3.63  4XChL029mKr5hydo79Ljxg
2  ...                0           3.71  bc8C_eETBWL0olvFSJJd0w
3  ...                0           4.85  dD0gZpBctWGdWo9WlGuhlA
4  ...                0           4.08  MM4RJAeH6yuaN8oZDSt0RA

   compliment_more                elite  compliment_hot cool    name  \
0                0       2015,2016,2017               2   25  Rashmi
1                0                  NaN               1   16   Jenna
2                0                  NaN               0   10   David
3                0                  NaN               1   14  Angela
4                1  2015,2016,2017,2018              28  665   Nancy

   compliment_profile compliment_cool
0                   0               1
1                   0               1
2                   0               0
3                   0               0
4                   0              80

[5 rows x 22 columns]

<h1> Photo Data </h1>

In [4]:

photo_data=pd.read_csv(path+'photo.csv')

print(photo_data.head(5))

                 photo_id             business_id   label caption
0  MllA1nNpcp1kDteVg6OGUw  rcaPajgKOJC2vo_l3xa42A  inside     NaN
1  YjxBE88Bf6CmTEF2LP1UNA  Kn23LDd740SBVJ7mum0fwg  inside     NaN
2  1f7izSjM0WjkDRIVbPy1yw  ZkGDCVKSdf8m76cnnalL-A    food     NaN
3  NcSlcDTEEeOaixotOPk-rA  bF8gv7k_rwZtiDLP2ZB04w  inside     NaN
4  5IiIo5UKEW0lWqZ6sWrY_A  50Anorn0DJXFhBr9a9_gHQ  inside     NaN

<h1> Tip Data </h1>

In [5]:

tip_data=pd.read_csv(path+'tip.csv')

print(tip_data.head(5))

              business_id  compliment_count                 date  \
0  VaKXUpmWTTWDKbpJ3aQdMw                 0  2014-03-27 03:51:24
1  OPiPeoJiv92rENwbq76orA                 0  2013-05-25 06:00:56
2  5KheTjYPu1HcQzQFtm4_vw                 0  2011-12-26 01:46:17
3  TkoyGi8J7YFjA6SbaRzrxg                 0  2014-03-23 21:32:49
4  AkL6Ous6A1atZejfZXn1Bg                 0  2012-10-06 00:19:27

                                                text                 user_id
0  Great for watching games, ufc, and whatever el...  UPw5DWs_b-e2JRBS-t37Ag
1  Happy Hour 2-4 daily with 1/2 price drinks and...  Ocha4kZBHb4JK0lOWvE0sg
2  Good chips and salsa. Loud at times. Good serv...  jRyO2V1pA4CdVVqCIOPc1Q
3  The setting and decoration here is amazing. Co...  FuTJWFYm4UKqewaosss1KA
4  Molly is definately taking a picture with Sant...  LUlKtaM3nXd-E4N4uOk_fQ

<h1> Checkin Data </h1>

In [6]:
checkin_data=pd.read_csv(path+'checkin.csv')

print(checkin_data.head(2))

                                                date             business_id
0  2016-04-26 19:49:16, 2016-08-30 18:36:57, 2016...  --1UhMGODdWsrMastO9DZw
1  2011-06-04 18:22:23, 2011-07-23 23:51:33, 2012...  --6MefnULPED_I942VcFNA

<h1> Review Data </h1>

In [7]:
review_data=pd.read_csv(path+'review.csv')

print(review_data.head(2))

              business_id  cool                 date  funny  \
0  ujmEBvifdJM6h6RLv4wQIg     0  2013-05-07 04:34:36    1.0
1  NZnhc2sEQy3RmzKTZnqtwQ     0  2017-01-14 21:30:33    0.0

                review_id  stars  \
0  Q1sbwvVQXV2734tPgoKj4Q    1.0
1  GJXCdrto3ASJOqKeVWPi6Q    5.0

                                                text  useful  \
0  Total bill for this horrible service? Over $8G...     6.0
1  I *adore* Travis at the Hard Rock's new Kelly ...     0.0

                  user_id
0  hG7b0MtEbXx5QzbzE6C_VA
1  yXQM5uF2jS6es16SJzNHfg